:root{
    --sectionPadding: 140px;
    --mainColor: #EF5F15;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cairo', sans-serif;
}
.container{
    padding: 15px;
    margin: 0 auto;
}
.main-title {
    display: block;
    margin: 0 auto 80px;
    width: fit-content;
    position: relative;
    border: 2px solid #000;
    font-size: 30px;
    padding: 10px 20px;
    transition: .5s;
    z-index: 9;
}
.main-title::before,.main-title::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #2196f3;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
    z-index: -1;
}
.main-title::before {
  left: -35px;
}
.main-title::after {
  right: -35px;
}
.main-title:hover::before {
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 0;
}
.main-title:hover::after {
  right: 0;
  width: 50%;
  height: 100%;
  border-radius: 0;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
header{
    background-color: var(--mainColor);
    position: fixed;
    width: 100%;
    z-index: 10;
    height: fit-content;
}
.logo {
    font-weight: bold;
    color: white;
}
.bio{
    position: relative;
}
.bio .container{
    display: flex;
    flex-direction: row-reverse;
    padding: 200px 0;
    min-height: calc(100% - 500px);
}

.bio::before {
    content: "";
    position: absolute;
    left: 0;
    top: -64px;
    width: 100%;
    min-height: 100%;
    background-color: #eee;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.bio .text{
    padding-top: 50px;
    text-align: right;
    flex: 1;
}
.bio .image img{
    width: 290;
    min-height: 200px;
    border-radius: 13px;
    transition: .5s linear;
    height: 200px;
}
.bio .arrow {
    color: var(--mainColor);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35px;
}
.bio .arrow i {
    animation: up-down-arrow 1.5s linear infinite ;
}
.info{
    padding-top: var(--sectionPadding);
}
.info .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    text-align: right;
}
.info .container .box{
    border-radius: 13px;
    padding: 15px;
}
.info .container .box:nth-child(2){
    box-shadow: 0px 0px 4px #0000003b;;
}
footer{
    background-color: var(--mainColor);
    padding: 25px 15px;
}
@media (max-width: 762px) {
    .bio .container{
        flex-direction: column;
        align-items: center;
    }
    .bio .image{
        display: none;
    }
}
@keyframes up-down-arrow {
    10%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40%,
    60% {
      transform: translateY(-15px);
    }
}